# intellij
/.idea
*.iml
out/

# eclipse
.classpath
.settings
.project
.metadata
.buildpath

# vi
*.swp

# maven
/target
maven-eclipse.xml
.externalToolBuilders/

# temporary stuff
*.tmp
*.bak
*.log
*.pyc

# gradle
build/
.gradle
docker/unknown-currency*.jar
